@import 'primereact/resources/themes/mdc-light-indigo/theme.css';
@import 'primeflex/primeflex.css';
@import 'primereact/resources/primereact.min.css';                       
/* @import 'primereact/resources/primereact.css';     */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(16,23,40);
  
}

.header-container{
  /* background-size: 200% 200%; */
  /* animation: gradientAnimation 20s ease infinite; */
  background-image: url('/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Centra la imagen */
  height: 100vh; /* Ajusta la altura al 100% del viewport */
  /* background-attachment: fixed; */
}

.over{
  background: linear-gradient(
    to bottom right,
    /* rgba(0, 0, 0, 0.2) 0%,
    rgba(46, 8, 84, 0.4) 20%,
    rgba(30, 144, 255, 0.6) 40%,
    rgba(0, 100, 0, 0.4) 60%,
    rgba(30, 144, 255, 0.2) 80%,
    rgba(46, 8, 84, 0.4) 100% */
    rgb(0, 0, 0) 0%,
    rgb(20 4 42 / 73%) 20%,
    rgb(35 36 104 / 96%) 40%,
    rgb(27 10 82 / 87%) 60%,
    rgba(20, 4, 42, 0.936) 80%,
    rgba(11, 4, 42, 0.973) 100%
  );
  height: 100vh; /* Ajusta la altura al 100% del viewport */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.p-dropdown{
  position: relative;
  margin-left: -20px;
}

.p-dropdown-item{
  padding: 10px;
}

.p-accordion-header{
  padding: 10px;
  background-color: white;
}

.p-accordion-header a{
  padding: 20px;
}

.p-accordion-content{
  padding: 40px;
}

@media (max-width: 768px) { 
  .over{
    height: auto;
  }

  .header-container{
    height: auto;
  }
}